:root{

    --azul:#085B9C;
    --negro:#2F2F2F;
    --negro-claro:#383838;
    --fondo:#F3F3F3;
    --cuerpo-card:#E1E1E1;
}
.bg-negro{
    background-color: var(--negro);
}
/*BANNER*/
#Banner{
    width: 100%;
    height: 250px;
    background-color: var(--negro);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#Banner .cont-text{
    margin-top:6%;
    position: absolute;
    left: 30.5vw;
    color:#fff;
    text-align: center;
}
@media only screen and (max-width: 770px){
    #Banner .cont-text{
    margin-top:3%;
    left: 20vw;}
}
@media only screen and (max-width: 600px){
    #Banner .cont-text{
    left: 9vw;}
}
@media only screen and (max-width: 500px){
    #Banner .cont-text{
    margin-top: 0;
    left: 3vw;}
}
#Banner .cont-text h5{
    margin-top: 3%;
}
#Banner .cont-text #bn-contac{
    color:#fff;
    margin-top: 5%;
    padding: 5px 25px;
}
#Banner svg{
    position: absolute;
    bottom: 45%;
}
#ctc-me{
    background-color: #383838;
    padding-bottom: 3%;
}
.card-img-top:hover{
    -webkit-transition:all 1.9s ease-in-out;
    -moz-transition:all 1.9s ease-in-out;
    -o-transition:all 1.9s ease-in-out;
    -ms-transition:all 1.9s ease-in-out;
    transition: all 1.9s ease-in-out;

    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
#inputEmail4,#inputText4,#exampleFormControlTextarea1{
    background-color: transparent;
    border-radius: 2px;
    color: #fff;
}
footer{
    background-color: var(--negro);
    padding-top: 2.5%;
    padding-bottom: 1%;
}
footer .container img{
    margin: 0 2.5% 2.5% 0;
}

